@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700 |Exo:100,200,300,400,500,600,700 |Lato:100,200,300,400,500,600 |Source Sans Pro:100,200,300,400,500,600');
 
/*--------------------------------------------Layout*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

 body {
     background: url("images/close-up-photo-of-green-leafed-plant-1407305.jpg");
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     width: 100%;
     height: 100%;
}

.image-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.section-600 {
    height: 600px;
}

.resume-list {
    list-style-type: none;
}

.center-block {
    margin-right: 350px;
    margin-left: 350px;
} 

/*--------------------------------------------Fonts and Colours*/

.heading {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 72px;
    letter-spacing: 6px;
    text-align: center;
}

.sub-heading {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 6px;
    text-align: center;
}

.small-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: white !important;
}

.black {
    color: black;
}

.btn {
    background-color: #b0acac !important;
}

.white-box {
    background-color: white;
}

.white-border {
    border: 1px solid white;
}

.ct {
    text-align: center;
}

.ra {
    text-align: right;
}

/*--------------------------------------------Header*/

.header-item-image {
    padding-left: 0 !important;
}

.profile-image {
    background: url("images/profile-image-sophia-rumpus.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;
}

#title {
    position: relative;
}

/*--------------------------------------------Menu*/

.hvr-grow-shadow {
    color: black !important;
}

.active {
    background-color: #b0acac !important;
    color: white !important;
}

.arrow {
    padding: 0 !important;
    font-size: 0;
}

.disabled {
    color: #b0acac !important;
}

/*--------------------------------------------About - Carousel*/

.portrait-image {
    height:600px;
    width: 400px;
    object-fit: cover;
}

.contrast {
    filter: contrast(130%);
    filter: brightness(120%);
    filter: hue-rotate(10);
    filter: saturate(1.3);
}

.carousel-image {
    margin-right: 20px;
}

/*--------------------------------------------Footer*/

footer {
    background-color: white;
}

contact-item, .contact-mode, .contact-value {
    display: inline-block;
}

.contact-item {
    margin-left: 20% !important;
    clear: both;
}

.contact-mode {
    width: 20%;
}

.contact-value {
    width: 60%;
    position: relative;
}

.material-icons {
    font-size: 40px !important;
}

/*--------------------------------------------Mobile*/

@media (max-width: 767px) {

    .navbar {
        padding: 0 !important;
        top: 0px;
        left: 0px;
        position: absolute !important;
    }

     .section-600 {
        height: 150px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px !important;
    }

    i {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .center-block {
        margin-right: 25px;
        margin-left: 25px;
    }

    .heading-text {
        font-size: 40px;
        padding-top: 50px;
    }

    #profile {
        padding-top: 30px;
        height: 230px;
    }

    .white-border {
        border-color: transparent;
    }

    iframe {
        width: auto;
        height: 250px;
    }

    .portrait-image {
        height:400px;
        width: 266px;
        object-fit: cover;
    }
    
    .contact-item {
        margin-left: 17% !important;
        clear: both;
    }

    .contact-mode {
        width: 5%;
    }

    .contact-value {
        width: 70%;
        position: relative;
        margin-left: 15%;
    }

}

/* --------------------------------------------Tablet*/

@media (min-width: 768px) and (max-width: 992px) {

    .navbar {
        padding: 0 !important;
        margin-top: 10px;
        left: 0px;
        position: absolute !important;
    }

    iframe {
        width: 300px;
        height: 250px;
    }

    .center-block {
        margin-right: 150px;
        margin-left: 150px;
    }

    .contact-item {
        margin-left: 10px !important;
        clear: both;
    }

    .contact-mode {
        width: 10%;
    }

    .contact-value {
        width: 70%;
        position: relative;
        margin-left: 15%;
    }

    .heading-text {
        font-size: 50px;
    }

    .portrait-image {
        height:400px;
        width: 266px;
        object-fit: cover;
    }
}

/* --------------------------------------------Large Tablet*/

@media (min-width: 993px) and (max-width: 1024px) {

    iframe {
        width: 400px;
        height: 300px;
    }

    .center-block {
        margin-right: 200px;
        margin-left: 200px;
    }

    .portrait-image {
        height: 400px;
        width: 266px;
    }
}

/* --------------------------------------------Large Desktops/Laptops*/

@media (min-width: 1600px) {

    .profile-image {
    background: url("images/croppedv4-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;

}