@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700 |Exo:100,200,300,400,500,600,700 |Lato:100,200,300,400,500,600 |Source Sans Pro:100,200,300,400,500,600');
 
/*--------------------------------------------Layout*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

 body {
     background: url("images/close-up-photo-of-green-leafed-plant-1407305.jpg");
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     width: 100%;
     height: 100%;
}

.image-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

/*  Minimalist Design
    background-color: #ebeced !important;
*/

.section-600 {
    height: 600px;
}

.resume-list {
    list-style-type: none;
}

.center-block {
    margin: 0 auto !important;
    max-width: 50% !important;
}

/*--------------------------------------------Fonts and Colours*/

.heading {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 72px;
    letter-spacing: 6px;
    text-align: center;
}

.sub-heading {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 6px;
    text-align: center;
}

.small-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: white !important;
}

.black {
    color: black;
}

.btn {
    background-color: #b0acac !important;
    /*--
    background-color: #f2e33f !important;
     */
}

.white-box {
    background-color: white;
}

.white-border {
    border: 1px solid white;
}

.ct {
    text-align: center;
}

.ra {
    text-align: right;
}

/*--------------------------------------------Header*/

.header-item-image {
    padding-left: 0 !important;
}

.profile-image {
    background: url("images/profile-image-sophia-rumpus.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 600px;
}

#name {
    margin-top: 30% !important;
}

#title {
    position: relative;
}

.section-title {
    margin-top: 35% !important;
}

#work-experience {
    margin-top:30% !important;
}

/*--------------------------------------------Menu*/

.hvr-grow-shadow {
    color: black !important;
}

.active {
    background-color: #b0acac !important;
    color: white !important;
}

.arrow {
    padding: 0 !important;
    font-size: 0;
}

.disabled {
    color: #b0acac !important;
}

/*--------------------------------------------Professional Skills*/

.progress {
    position:relative; 
}

.progress-bar {
    background-color: #b0acac !important;
}

/*--------------------------------------------About - Carousel*/

.portrait-image {
    height:600px;
    width: 400px;
    object-fit: cover;
}

.contrast {
    filter: contrast(130%);
    filter: brightness(120%);
    filter:hue-rotate(10);
    filter:saturate(1.3);
}

.carousel-image {
    margin-right: 20px;
}

/*--------------------------------------------Footer*/

footer {
background-color: white;
}

contact-item, .contact-mode, .contact-value {
    display: inline-block;
}

.contact-item {
    margin-left: 20% !important;
    clear: both;
}

.contact-mode {
    width: 20%;
}

.contact-value {
    width: 60%;
    position: relative;
}

.material-icons {
    font-size: 40px !important;
}

/*--------------------------------------------Mobile Optimised

@media(min-width:992px) {

#name {
    margin-top: 40% !important;
}

.section-title {
    margin-top: 30% !important;
}

#work-experience {
    margin-top:30% !important;
}

.center-form {
    max-width: 70%; corrected already for mobile
}


*/